extends layout

block content
  .row
    .col-sm-8.col-xs-12
      form#newWatch.form-inline(role='form')
        .form-group.watchName
          label.sr-only(for='newWatchName') Name
          input.form-control(type='text', id='newWatchName', placeholder='Add something to watch')
        .form-group
          label.sr-only(for='newWatchInterval') Interval
          select.form-control(id='newWatchInterval')
            option Hourly
            option(selected=true) Daily
            option Weekly
            option Monthly
        button.btn.btn-primary(type='submit') Save
      .list-group.watch
        a.list-group-item.list-group-item-success(href='#')
          strong foo
        a.list-group-item.list-group-item-info(href='#')
          strong bar
        a.list-group-item.list-group-item-danger(href='#')
          | baz
        a.active.list-group-item.list-group-item-warning(href='#')
          .row
            form.form-inline(role='form')
              .form-group.col-xs-6
                label.sr-only(for='watchName') Name
                input.form-control(type='text', id='watchName', value='quz')
              .form-group.col-xs-3
                label.sr-only(for='watchInterval') Interval
                select.form-control(id='watchInterval')
                  option Hourly
                  option(selected=true) Daily
                  option Weekly
                  option Monthly
              .col-xs-3
                .btn-group.pull-right
                  button.btn.btn-default(type='button')
                    span.glyphicon.glyphicon-edit
                  button.btn.btn-default(type='button')
                    span.glyphicon.glyphicon-trash
    .col-sm-4.col-xs-12
      #chart
