extends layout

block content
  .row
    .col-sm-8.col-xs-12
      #newWatch(ng-controller='WatchFormController')
        form.form-inline.clearfix(ng-submit='create()', role='form')
          .form-group.watchName.col-lg-4.col-lg-offset-2.col-md-8.col-sm-6.col-xs-12
            label.sr-only(for='newWatchName') Name
            input.form-control(ng-model='newWatch.name', type='text', id='newWatchName', placeholder='Add something to watch', required=true)
          .form-group.col-md-2.col-sm-3.col-xs-6
            label.sr-only(for='newWatchInterval') Interval
            select.form-control(ng-model='newWatch.interval', ng-options='interval|intervalName for interval in defaultIntervals', id='newWatchInterval', required=true)
          .form-group.col-md-2.col-sm-3.col-xs-6
            button.btn.btn-primary(type='submit', ng-disabled='blank') Save
        doa-server-errors.serverErrors(ng-show='serverErrors')
      #watches.panel-group(ng-controller='WatchesController')
        .watch.panel(ng-repeat='watch in watches', ng-controller='WatchController', ng-class='[statusClass]', href='#')
          .panel-heading
            h4.panel-title
              a(data-toggle='collapse', href='#watch-{{ watch.id }}') {{ watch.name }}
          .panel-collapse.collapse(ng-class='[collapseClass]', id='watch-{{ watch.id }}')
            .panel-body
              form.form-inline(role='form')
                .form-group.col-sm-8.col-sm-offset-2.col-xs-12
                  .input-group
                    input.url.form-control(type='text', readonly=true, value='{{ watch.url }}')
                    .input-group-btn
                      a.btn.btn-default(clip-copy='getWatchUrl()', type='button', href='#')
                        span.glyphicon.glyphicon-edit
        a.active.list-group-item.list-group-item-warning(href='#')
          .row
            form.form-inline(role='form')
              .form-group.col-xs-6
                label.sr-only(for='watchName') Name
                input.form-control(type='text', id='watchName', value='quz')
              .form-group.col-xs-3
                label.sr-only(for='watchInterval') Interval
                select.form-control(id='watchInterval')
                  option Hourly
                  option(selected=true) Daily
                  option Weekly
                  option Monthly
              .col-xs-3
                .btn-group.pull-right
                  button.btn.btn-default(type='button')
                    span.glyphicon.glyphicon-edit
                  button.btn.btn-default(type='button')
                    span.glyphicon.glyphicon-trash
    .col-sm-4.col-xs-12
      #chart
