extends layout

block content
  .row
    .col-sm-8.col-xs-12
      #newWatch(ng-controller='WatchFormController')
        form.form-inline(ng-submit='create()', role='form')
          .form-group.watchName
            label.sr-only(for='newWatchName') Name
            input.form-control(ng-model='newWatch.name', type='text', id='newWatchName', placeholder='Add something to watch', required=true)
          .form-group
            label.sr-only(for='newWatchInterval') Interval
            select.form-control(ng-model='newWatch.interval', ng-options='interval|intervalName for interval in defaultIntervals', id='newWatchInterval', required=true)
          button.btn.btn-primary(type='submit', ng-disabled='blank') Save
        doa-server-errors.serverErrors(ng-show='serverErrors')
      .list-group.watch(ng-controller='WatchesController')
        a.list-group-item(ng-repeat='watch in watches', ng-controller='WatchController', ng-class='[statusClass]', href='#')
          h4 {{ watch.name }}
        a.active.list-group-item.list-group-item-warning(href='#')
          .row
            form.form-inline(role='form')
              .form-group.col-xs-6
                label.sr-only(for='watchName') Name
                input.form-control(type='text', id='watchName', value='quz')
              .form-group.col-xs-3
                label.sr-only(for='watchInterval') Interval
                select.form-control(id='watchInterval')
                  option Hourly
                  option(selected=true) Daily
                  option Weekly
                  option Monthly
              .col-xs-3
                .btn-group.pull-right
                  button.btn.btn-default(type='button')
                    span.glyphicon.glyphicon-edit
                  button.btn.btn-default(type='button')
                    span.glyphicon.glyphicon-trash
    .col-sm-4.col-xs-12
      #chart
