doctype html
html(ng-app='doa')
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='http://code.highcharts.com/highcharts.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/1.3.5/ZeroClipboard.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js')
    script(src='/javascripts/vendor/ng-clip.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/vendor/socket.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/app.js')
  body
    .jumbotron
      .container
        h1 doa
        p Yeehaw
    .container
      block content
    script(type='text/ng-template', id='/watchInterval.html')
      label.sr-only(for='watch-{{ watch.id | default:"new" }}-interval') Interval
      select.form-control(ng-model='watch.interval', ng-options='interval|intervalName for interval in intervals', ng-show='!custom', id='watch-{{ watch.id | default:"new" }}-interval', required=true)
        option(value='') Custom
      input.form-control(ng-model='watch.interval', ng-show='custom', type='number', id='watch-{{ watch.id | default:"new" }}-interval', required=true)
    script(type='text/ng-template', id='/serverErrorsTemplate.html')
      .alert.alert-danger.alert-dismissable
        button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
        p
          strong Oops...
        ul
          li(ng-repeat='error in serverErrors') {{ error.message }}
