a
  color #00B7FF

.jumbotron
  text-align center

#newWatch
  margin-bottom 1em
  text-align center
  .form-group
    margin-right 0.8em
  .watchName
    input
      width 20em

.watch
  .form-inline
    input, select
      width 100%
