a
  color #00B7FF

.jumbotron
  text-align center

#newWatch
  margin-bottom 1em
  .alert
    margin-top 1em
  form
    text-align center
    input, select, button
      width 100%

.watch
  .panel-heading
    a
      vertical-align middle
  .form-inline
    input, select
      width 100%
    .controls
      padding-right 0
  .url
    text-align center
    font-family Monospace
    cursor: pointer

.serverErrors
  -webkit-transition 0.5s linear all
  transition 0.5s linear all
  opacity 1

.serverErrors.ng-hide
  opacity 0

.serverErrors.ng-hide-add, .serverErrors.ng-hide-remove
  display block!important
